<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kj.consume.mapper.KProductSpecMapper">
  <resultMap id="BaseResultMap" type="com.kj.consume.entity.KProductSpec">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="parent" jdbcType="BIGINT" property="parent" />
    <result column="img" jdbcType="VARCHAR" property="img" />
  </resultMap>
</mapper>