<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saintlu.generator.mapper.B2cExpressTrackingMapper">
  <resultMap id="BaseResultMap" type="com.saintlu.api.entity.B2cExpressTracking">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="express_no" jdbcType="VARCHAR" property="expressNo" />
    <result column="express_status" jdbcType="INTEGER" property="expressStatus" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_count" jdbcType="INTEGER" property="updateCount" />
    <result column="express_tracking" jdbcType="VARCHAR" property="expressTracking" />
  </resultMap>
</mapper>