<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saintlu.generator.mapper.BaseProvinceMapper">
  <resultMap id="BaseResultMap" type="com.saintlu.api.entity.BaseProvince">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="PROVINCE_ID" jdbcType="INTEGER" property="provinceId" />
    <result column="PROVINCE_CODE" jdbcType="VARCHAR" property="provinceCode" />
    <result column="PROVINCE_NAME" jdbcType="VARCHAR" property="provinceName" />
    <result column="SHORT_NAME" jdbcType="VARCHAR" property="shortName" />
    <result column="LNG" jdbcType="VARCHAR" property="lng" />
    <result column="LAT" jdbcType="VARCHAR" property="lat" />
    <result column="SORT" jdbcType="INTEGER" property="sort" />
    <result column="GMT_CREATE" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="GMT_MODIFIED" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="DATA_STATE" jdbcType="INTEGER" property="dataState" />
    <result column="TENANT_CODE" jdbcType="VARCHAR" property="tenantCode" />
  </resultMap>
</mapper>