<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saintlu.generator.mapper.BizMemberLogMapper">
  <resultMap id="BaseResultMap" type="com.saintlu.api.entity.BizMemberLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="M_ID" jdbcType="VARCHAR" property="mId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="log_info" jdbcType="VARCHAR" property="logInfo" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
</mapper>