<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saintlu.generator.mapper.BizRechargeDefineMapper">
  <resultMap id="BaseResultMap" type="com.saintlu.api.entity.BizRechargeDefine">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="caption" jdbcType="VARCHAR" property="caption" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="shop_balance_add" jdbcType="DECIMAL" property="shopBalanceAdd" />
    <result column="selected" jdbcType="INTEGER" property="selected" />
  </resultMap>
</mapper>