<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saintlu.generator.mapper.MchBranchOrderProductMapper">
  <resultMap id="BaseResultMap" type="com.saintlu.api.entity.MchBranchOrderProduct">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="branch_id" jdbcType="VARCHAR" property="branchId" />
    <result column="mch_id" jdbcType="VARCHAR" property="mchId" />
    <result column="product_name" jdbcType="INTEGER" property="productName" />
    <result column="product_image" jdbcType="VARCHAR" property="productImage" />
    <result column="product_price" jdbcType="VARCHAR" property="productPrice" />
    <result column="product_orgion_price" jdbcType="DOUBLE" property="productOrgionPrice" />
  </resultMap>
</mapper>