<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saintlu.generator.mapper.MchBranchFavoriteMapper">
  <resultMap id="BaseResultMap" type="com.saintlu.api.entity.MchBranchFavorite">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="M_ID" jdbcType="VARCHAR" property="mId" />
    <result column="branch_id" jdbcType="VARCHAR" property="branchId" />
    <result column="ADD_TIME" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
</mapper>