<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saintlu.generator.mapper.MchCouponRuleTemplateMapper">
  <resultMap id="BaseResultMap" type="com.saintlu.api.entity.MchCouponRuleTemplate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="coupon_type" jdbcType="INTEGER" property="couponType" />
    <result column="rule_decs" jdbcType="VARCHAR" property="ruleDecs" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
</mapper>