<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saintlu.generator.mapper.StatDashboardDataMapper">
  <resultMap id="BaseResultMap" type="com.saintlu.api.entity.StatDashboardData">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="stat_date" jdbcType="DATE" property="statDate" />
    <result column="member" jdbcType="INTEGER" property="member" />
    <result column="member_active" jdbcType="INTEGER" property="memberActive" />
    <result column="member_active_day" jdbcType="INTEGER" property="memberActiveDay" />
    <result column="branch" jdbcType="INTEGER" property="branch" />
    <result column="coupon_sell" jdbcType="INTEGER" property="couponSell" />
    <result column="coupon_used" jdbcType="INTEGER" property="couponUsed" />
    <result column="coupon_sold" jdbcType="INTEGER" property="couponSold" />
    <result column="b2c_order_pending" jdbcType="INTEGER" property="b2cOrderPending" />
    <result column="b2c_order_paid" jdbcType="INTEGER" property="b2cOrderPaid" />
    <result column="b2c_order_shipped" jdbcType="INTEGER" property="b2cOrderShipped" />
    <result column="b2c_order_done" jdbcType="INTEGER" property="b2cOrderDone" />
    <result column="b2c_product" jdbcType="INTEGER" property="b2cProduct" />
    <result column="b2c_product_visit" jdbcType="INTEGER" property="b2cProductVisit" />
    <result column="b2c_product_sold" jdbcType="INTEGER" property="b2cProductSold" />
    <result column="b2c_product_sku" jdbcType="INTEGER" property="b2cProductSku" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
</mapper>