<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saintlu.generator.mapper.TmpUrlMapMapper">
  <resultMap id="BaseResultMap" type="com.saintlu.api.entity.TmpUrlMap">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="old_url" jdbcType="VARCHAR" property="oldUrl" />
    <result column="new_url" jdbcType="VARCHAR" property="newUrl" />
  </resultMap>
</mapper>